name: Publish Docker image

on:
  push:
    branches:
      - 'main'

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    strategy:
        matrix:
            package: [document-builder, zephyr-arm]
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Set variables
        run: |
          VER=$(cat ${{ matrix.package }}/VERSION)
          echo "VERSION=$VER" >> $GITHUB_ENV

      - name: Check if image tag exists
        id: check_tag
        run: |
          if docker manifest inspect bojit/${{ matrix.package }}:${{ env.VERSION }} > /dev/null 2>&1; then
            echo "Tag already exists, skipping build"
            echo "exists=true" >> $GITHUB_OUTPUT
          else
            echo "Tag does not exist, proceeding with build"
            echo "exists=false" >> $GITHUB_OUTPUT
          fi

      - name: Log in to Docker Hub
        if: steps.check_tag.outputs.exists == 'false'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract metadata (tags, labels) for Docker
        if: steps.check_tag.outputs.exists == 'false'
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: bojit/${{ matrix.package }}

      - name: Build and push Docker image
        if: steps.check_tag.outputs.exists == 'false'
        uses: docker/build-push-action@v5
        with:
          context: ${{ matrix.package }}
          push: true
          tags: |
            bojit/${{ matrix.package }}:${{ env.VERSION }}
            bojit/${{ matrix.package }}:latest
          labels: ${{ steps.meta.outputs.labels }}
